# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/

# Cloudflare tunnel credentials
.cloudflared/

# Environment variables
.env
.env.local
.env.*.local

# macOS
.DS_Store
.AppleDouble
._*

# Editor
.vscode/
.idea/
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

#Claude
./claude/
CLAUDE.md